@import "../variables";

#root {
  position: relative;
}

.nav-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $dark-blue;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-div {
  position: relative;
  display: inline-block;
}

.nav-dropdown-content {
  display: none;
  transform: translate(-35%, 1%);
  position: absolute;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-div:hover .nav-dropdown-content {
  display: block;
}

.nav-drp-dwn-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-text {
  color: white;
  text-decoration: none;
  font-weight: 900;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $light-blue;
}

.drop-text:hover {
  opacity: 0.7;
}

.nav-text {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-logout:hover {
  text-decoration: underline;
}

.nav-clearance {
  margin-top: 48px;
}
