@import "../variables";

.user-show-info-div {
  background-color: $light-gray;
  padding: 30px 20px 30px 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
}

.user-show-head-inner-div {
  width: 700px;
  justify-self: center;
}

.user-show-username {
  font-size: 20px;
  font-weight: 900;
}

.user-show-name {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 10px;
}

.user-show-bio {
  word-wrap: break-word;
  width: 100%;
}

.no-recipes-div {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noRecipeText {
  font-size: 20px;
}
