@import "../variables";

.user-index-div {
  padding: 50px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.user-index-info-div {
  width: fit-content;
  padding: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.user-index-link {
  font-size: 25px;
  font-weight: 900;
}
